/* 
** Copyright 2005 TEI Consortium

$Id: tei.css 8513 2011-02-05 16:07:27Z rahtz $

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.
 This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
 You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the 
Free Software Foundation, Inc., 
59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

*/


/* main layout */

body.simple {
   color: #000000;
   background-color: #FFFFFF;
   margin: 10pt;
}

body{
   color: #000000;
   background-color: #FFFFFF;
   margin: 10pt;
   padding:0;
   font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
}

body.pagetable {
   color: #000000;
   background-color: #FFFFFF;
}

/* 3 columns allowed for, or just a right and left */  
#col1{
   width: 20%;
   background: #FFFFFF;
   margin: 0;
   margin-top: 10px;
   color: #000066;
   padding: 5px;
   position : absolute;
   float: left;
   border-style: solid;
   border-width: 1px;
   border-color: red;
}

#col2{
   background: #FFFFFF;
   color: #333333;
   border-style: solid;
   border-width: 1px;
   border-color: #000000;
   margin: 0;
   margin-top: 10px;
   padding: 5px ;
   left: 22%;
   width: 51%;
   position : absolute;
}

#col3{
   width: 24%;
   left: 75%;
   color: #000066;
   background: #FFFFFF;
   border-style: solid;
   border-width: 1px;
   border-color: red;
   margin: 0;
   margin-top: 10px;
   padding: 5px;
   position : absolute;
   float: right;
}

#lh-col{
   width: 16%;
   color: #000000;
   margin-top: 2pt;
   margin-right: 10pt;
   padding: 5px;
   background-color: #FFFFFF;
   float: left;
   font-weight:normal;
}

#rh-col{
   background-color: #FFFFFF;
   color: #333333;
   margin: 2pt;
   padding: 5px ;
   float: right;
   width: 75%;
   font-weight:normal;
}


/* now the layers of the header */

/* the main title */
div.stdheader {
      border-bottom: 1pt solid black;
}

#hdr{
   width: auto;
   margin: 0;
   background-repeat : no-repeat;
   overflow : inherit;
}

/* a navigation bar */
#hdr2{
   width: auto;
   color: #000000;
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold;
   background-color : #99CCFF;
   padding-left : 5px;
   padding-bottom : 2px;
   padding-top : 2px;
   padding-right : 5px;
}

/* a breadcrumb trail */
#hdr3{
   width: auto;
   color: #000000;
   background-color : #AD06BC;
   padding-left : 5px;
   padding-bottom : 2px;
   padding-top : 2px;
   padding-right : 5px;
   font-family: Arial,Helvetica,sans-serif;
   font-weight : bold;
   font-size: smaller;
}

.bannerright {
   position : absolute;
   right : 5px;
   color: #FFFFFF;
   font-family : Arial, Helvetica, sans-serif;
   font-size : 0.8em;
   font-weight : bold;
   text-decoration: none;
}

/* section headings */
#hdr h1 { color: red; }
h1 {
   font-weight: bold;
   font-size: 2em;
   line-height: 34pt;
}

h2 {
   font-size: larger;
   line-height: 20pt;
   margin-top: 18pt;
   font-weight: bold;
}

h3 {
   font-size: larger;
   line-height: 18pt;
   font-weight: bold;
   font-style: italic;
   color: #C63904;
}


h1.maintitle {
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold;
   bottom: 5px;
}

h1.title {
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold;
   bottom: 5px;
}

h2.institution {
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
}

h2.department {
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
}

h2.subtitle {
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold;
}

.footer {
   text-align : center;
   font-family: Arial,Helvetica,sans-serif; 
   font-size : 0.8em;
}



/* components of the breadcrumb trail */
a.breadcrumb{
   color: #FFFFFF;
   text-decoration: none;
   padding-right : 5px;
   font-family: Arial,Helvetica,sans-serif;
   font-weight : bold;
   font-size : 0.8em;
}

ul.breadcrumb
{
   display: inline;
   font-size: 1.1em;
}

li.breadcrumb
{
   padding-left: 12px;
   padding-right: 5px;
   display: inline;
   color: #000000;
   background: url(/images/rightarrow.gif);
   background-repeat: no-repeat;
   background-position: left;
}
li.breadcrumb-first
{
   padding-left: 12px;
   padding-right: 5px;
   display: inline;
   color: #000000;
   background: url(/images/rightarrow.gif);
   background-repeat: no-repeat;
   background-position: left;
}

div.breadcrumb {
   display: inline;
}

.skiplinks{
   font-family: arial, sans-serif;
   color: #FFFFFF;
   font-weight : bold;
   font-size : 0.8em;
   text-decoration: none;
   padding-right : 15px;
}

.tocontent{
   color : #000066;
   display : none;
}

.hide{
   display : none;
}

.framestdlink {
   color: red;
   font-size: smaller;
   font-weight: bold;
}

a:hover
{
   text-decoration: underline;
}

a.navbar:link
{
   color: #FFFFFF;
   text-decoration: none;
}

a.navbar:visited
{
   color: #FFFFFF;
   text-decoration: none;
}

a.navbar:hover {
   color: #FFFFFF;
   text-decoration: underline;
}


/* for use when making pages using a table */
td.hdr2 {
   color: #000000;
   background-color : #99CCFF;
}
td.hdr3 {
   background-color : #AD06BC;
   border: 1pt solid #000000;
}

td.sidetext {
   border-right: 1pt solid #000000;
}
td.maintext p {
   font-family: Arial,Helvetica,sans-serif;
}

td.maintext {
   background-color: #FFFFFF;
   font-family: Arial,Helvetica,sans-serif;
   color: #000000;
   padding-left: 6pt;
   padding-right: 6pt;
}

table.wovenodd td,p.wovenodd {
   background-color: #FFFFFF;
}

/* an inner <text>, eg inside a <q> */
div.innertext {
   margin: 6pt;
   border: 1pt solid red;
}
/* literal code */

div.cdata {
    white-space: pre;
    clear:both;
}

pre,div.pre,div.pre_eg,pre.eg,div.eg {
    clear:both;
    margin-top: 1em;
    margin-bottom:1em;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #000000;
    line-height: 1.1em;
    font-family: monospace;
    font-size: 10pt;
    white-space: pre;
}

div.egXML_valid {
    background-color: #f7f9f6;
    border-color: #c5d8bb;
    }
div.egXML_feasible {
    background-color: #fff9f3;
    border-color: #ffe1ad;
    }
div.egXML_invalid {
    border-color: #ffe7e8 ;
    background-color:  #fdbbac;
    }


/* table of contents */
ul.toc {list-style: none;}
li.toc {list-style: none;}

/* table of contents links */

a.inlinetoc:link,a.inlinetoc:visited
{
   color: #7A7A7A;
   font-size: smaller; 
   text-decoration: none;
}

a.inlinetoc-this:visited,a.inlinetoc-this:link
{   
   font-size: smaller; 
   color: #000000;
   font-weight: bold; 
   text-decoration: underline;
}

a.inlinetoc-sub:visited,a.inlinetoc-sub:link
{
   text-decoration: none;
   color: #000000;
   font-weight: normal;
   font-size: smaller; 
}

span.toclist{
   font-size: smaller; 
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold;
}

p.toclist0 {
   margin-left: 0.5em; 
   margin-top: 1pt; 
   margin-bottom: 3pt; 
   text-indent: -0.5em;
   font-size: small;    
}

p.toclist1 {
   margin-left: 1em; 
   margin-top: 1pt; 
   margin-bottom: 2pt; 
   text-indent: -0.7em;
   font-size: small;    
}

p.toclist2 {
   margin-left: 1.5em; 
   text-indent: -1em;
   font-size: small;    
}

p.toclist3 {
   margin-left: 2em; 
   text-indent: -1.5em;
   font-size: small;    
}

span.toclist-this {
   color: red;
}

a.toclist:visited,a.toclist:link
{
   font-weight: bold; 
   color: #000000;
   text-decoration: none;
}



/* notes */
div.noteHeading {
   margin-top: 9pt;
   border: 0;
   border-top: 1pt;
   border-style: solid;
   padding-top: 6pt;
   font-size: larger;
   font-weight: bold;
}
div.noteBody {
  display:inline;
}

div.note {
   margin-left: 1em; 
   margin-bottom: 4pt; 
   text-indent: -1em;
}

span.noteLabel {
    font-style: italic;
}

/* images */
img.display {
   margin-top: 10pt;
   margin-bottom: 10pt;
   display: block;
}
p.caption {
   font-style: italic;
}

.floatimage {
   float : left;
   margin-right : 6px;
   vertical-align : top;
}
/* specialized divs */
div.letter {
   margin-left: 2em;
   margin-right: 2em;
   margin-top: 6pt;
   margin-bottom: 6pt;
   border-top: 1pt solid green;
   border-bottom: 1pt solid green;
}
/* title page */
div.titlePage {
   border-top: 2pt solid #000000;
   border-bottom: 2pt solid #000000;
   padding-top: 6pt;
   padding-bottom: 6pt;
   font-size: larger;
   text-align: center;
}
div.docImprint {
   font-style: italic;    
}
div.docDate {
   font-style: italic;    
}
div.docTitle {
    font-weight: bold;
}
div.docAuthor {
    font-style: italic;
}

div.byline {
}   

div.dateline{
   text-align: right;
}
/* verse */
div.lg {
   margin-left: 10px;
}

div.centerbold {
    text-align:center;
    font-weight: bold;
}
div.center {
    text-align:center;
}
div.right {
    text-align:right;
}
div.left {
    text-align:left;
}
div.signed {
    text-align:left;
}
div.l {
    text-align:left;
}
div.numbering {
    float:left; 
    font-size:smaller; 
    width: 2em;
}

div.linenumber { }

p.center {
    text-align:center;
}
p.right {
    text-align:right;
}
p.left {
    text-align:left;
}
div.indent1 {
   margin-left: 1em;
}
div.indent2 {
   margin-left: 2em;
}
div.indent3 {
   margin-left: 3em;
}
div.indent4 {
   margin-left: 4em;
}
div.indent5 {
   margin-left: 5em;
}
div.indent6 {
   margin-left: 6em;
}
/* misc */
.plain {
   font-weight: bold;
   text-decoration: none;
   font-family: Arial,Helvetica,sans-serif;
   color: #C63904;
}

p.box {
   border: 1pt solid #000000;
}

.small {
   font-size: small;
}

td.label {
   font-weight: bold;
   background-color: #AAAAAA;
}
tr.label td {
   font-weight: bold;
   background-color: #AAAAAA;
}

span.label {
    font-weight: bold;
}

h5 {    
   font-size: 100%;
}
h6 {    
   font-size: 100%;
}

div.tocFront {
   border-bottom: 1pt solid #000000;
}
div.tocBack {
   border-bottom: 1pt solid #000000;
}
div.tocBody {
   border-bottom: 1pt solid #000000;
}
/* a listBibl rend='labels' */
div.listBibl {
	     margin-top: 6pt;
	     margin-bottom: 6pt;
}
div.bibl {
   margin-left: 0.5em; 
   text-indent: -0.5em;
}
div.biblfree {
   font-size: smaller; 
   font-style:italic;
   margin-left: 0.5em; 
   text-indent: -0.5em;
   margin-bottom: 6pt;
}

span.biblLabel {
	       font-weight: bold;
	       margin-right: 1em;
}

/* a <bibl> inside a <cit> */
div.citbibl {
   text-align:right;
   font-size: smaller;
}
/* a <quote> inside a <cit> */
div.citquote {
}

/* gloss lists with bold labels */
dt {
   font-weight: bold;
}
div.blockquote {
   margin: 10pt;
}

/* generic <hi> */
span.hi {
   font-weight: bold;
}

/* from drama */
span.actor {  
	   font-style:italic;
}
span.camera {
 font-style: italic;
}
span.caption {
 font-style: italic;
}
span.role {
 font-style: italic;
}
span.set {
 font-style: italic;
}
span.sound {
 font-style: italic;
}
span.stage {
 font-style: italic;
}
span.tech {
 font-style: italic;
}
span.view {
 font-style: italic;
}
span.mentioned {
   font-style: italic;
}
span.nextLink {
   font-style: italic;
}
span.previousLink {
   font-style: italic;
}
span.upLink {
   font-style: italic;
}
p, div.p {
 margin-top: 0.3em;
}
/* bibl */
span.titlem {
    font-style: italic;
}
span.titlej {
    font-style: italic;
}
span.titleu {
}
span.titles {
}

span.margnote {
             display: block;
	     font-size: smaller;
	     clear: right;
	     padding: 4pt;
	     font-style: italic;
	     width: 10%;
	     float:right; 
	     border: solid green 1pt; 
	     margin: 6pt;
}

div.floatingText_back {
    border-top: solid black 1pt;
}
div.floatingText_front {
    border-top: solid black 1pt;
}
div.floatingText {
    margin: 6pt;
    border: solid black 1pt;
}
span.pagebreak {
    background-color: green;
    font-weight: bold;
}
div.pagebreak {
    display: block;
    border: solid red 1pt;
}
span.element {
    font-weight: bold;
    color: black;
}
span.unclear {
    font-weight: bold;
}
span.wordtypeNN, span.wordtypeNNS {
    color: green;
    }
span.wordtypeVVD,span.wordtypeVVN,span.wordtypeVVN,span.wordtypeVVZ,span.wordtypeVVG, span.wordtypeVV {
    color: red;
    }

dt.speaker {
    font-weight: bold;
}
li.headless {
    display: none;
}
span.hi {
    font-weight: bold;
}